
{% extends "layouts/main.html" %}



{% block pageTitle %}
Appointment booked - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/blue-banner-book-assessment.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


                  <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                     
                      Telephone
                appointment booked
                    </h1>
                    <!-- <div class="govuk-panel__body">
                      Your reference number<br><strong>HDJ2123F</strong>
                    </div> -->
                  </div>

                  <br>
             <p class="govuk-body">
                    
                 The satus has been updates to 'Appointment booked' for the claimant and a new entry has been added to the timeline.</p>


                  <h2 class="govuk-heading-m">What you can do next</h2>

                  <p class="govuk-body"> <a href=" ">View details for Jane Doe</a> </p>

                    <p class="govuk-body"> <a href=" ">View referrals by caseload or status</a> </p>

                      <p class="govuk-body"> <a href=" ">View my tasks</a> </p>

                   
                   
              </div>
            </main>
          </div>


    </div>

</div>

        </main>
      </div>



      {% endblock %}
