{% extends "layouts/main.html" %}



{% block pageTitle %}
Appointment type - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/blue-banner-book-assessment.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="view-assessment" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <form class="form" action="/cancel-cause" method="post">


      

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "appt-reason-cancel",
            name: "appt-reason-cancel",
            fieldset: {
              legend: {
                text: "Who needs to cancel this appointment?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "Claimant",
                text: "Claimant"
              },
              {
                value: "Assessment provider",
                text: "Assessment provider"
              }
            ]
          }) }}

          <br>
          <br>
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
            <a class="govuk-link" href="view-assessment">Return to appointment details</a>
          </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
