{% extends "layouts/main.html" %}



{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}

  {% include "includes/internal-header.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">

    <a href="index" class="govuk-back-link"> Back</a>
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
       Main menu
    </h1>

    <dl class="govuk-summary-list" id="change-lot">

  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Current lot selected
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-tag">Lot 100</p>
    </dd>
    
    <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change Lot<span class="govuk-visually-hidden"> selected lot</span></a>
      
    </dd>
    
  </div>
  

</dl>
   

<table id="menu-table">
<tbody><tr>

  <td class="wide-margin align-top">
    <h2 class="govuk-heading-m">Tasks</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link" href="#" id="review-new-evidence">Review new evidence</a>
      </li>
      <li>
        <a class="govuk-link" href="#" id="view-tasks">View my open tasks</a>
      </li>
    </ul>
  </td>

<td class="wide-margin">
<h2 class="govuk-heading-m">Manage</h2>
<ul class="govuk-list govuk-list--spaced">
  
  <li>
    <a class="govuk-link" href="has-manage-appt/appointments" id="manage-appointments">Appointments</a>
  </li>
  
  
  <li>
    <a class="govuk-link" href="availability-management/location" id="manage-availability">Availability</a>
  </li>
  
  
  <li>
    <a class="govuk-link" href="#" id="unassigned-referrals">Assign new referrals (0)</a>
  </li>
  
  
  <li>
    <a class="govuk-link" href="#" id="create-referral">Create a referral</a>
  </li>
  
  
    <li>
    <a class="govuk-link" href="#" id="incomplete-referral">Incomplete referrals</a>
  </li>
  
  
    <li>
    <a class="govuk-link" href="#" id="change-to-pip-referral">Changes to PIP referrals</a>
  </li>
  
</ul>
</td>
<td class="align-top">
  <h2 class="govuk-heading-m">Search</h2>
  <ul class="govuk-list govuk-list--spaced">
  <li>
    <a class="govuk-link" href="#" id="find-a-claimant">Find a claimant</a>
  </li>
  <li>
    <a class="govuk-link" href="caseload-or-status" id="filter">View a caseload or status</a>
  </li>
  </ul>
</td>
</tr>
</tbody></table>
      
    </div>
  </main>
</div>

{% endblock %}

