{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">





  <div class="govuk-grid-column-three-quarters">

    <a href="../availability-added" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   



     
       
        
        <span class="govuk-caption-l">Monday 11 March 2026</span>

            <h1 class="govuk-heading-l" style="padding-top:10px;">
             Copy appointment availability on this day
            
           
            </h1>
            <div class="govuk-hint">
              Copy the same HCPs, times and locations to the selected mornings. Select all that apply.
            </div>

            
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes" data-module="govuk-checkboxes">
                      
                  <!-- <div id="waste-hint" class="govuk-hint">
                    Apply to
                  </div> -->
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="day-12" name="day" type="checkbox" value="12">
                      <label class="govuk-label govuk-checkboxes__label" for="day-12">
                        Tuesday 12 March 2026
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="day-13" name="day" type="checkbox" value="13">
                      <label class="govuk-label govuk-checkboxes__label" for="day-13">
                        Wednesday 13 March 2026
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="day-14" name="day" type="checkbox" value="14">
                      <label class="govuk-label govuk-checkboxes__label" for="day-14">
                        Thursday 14 March 2026
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="day-15" name="day" type="checkbox" value="15">
                      <label class="govuk-label govuk-checkboxes__label" for="day-15">
                        Friday 15 March 2026
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="day-16" name="day" type="checkbox" value="16">
                      <label class="govuk-label govuk-checkboxes__label" for="day-16">
                        Saturday 16 March 2026
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="day-17" name="day" type="checkbox" value="17">
                      <label class="govuk-label govuk-checkboxes__label" for="day-17">
                        Sunday 17 March 2026
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="day-18" name="day" type="checkbox" value="18">
                      <label class="govuk-label govuk-checkboxes__label" for="day-18">
                        Monday 18 March 2026
                      </label>
                    </div>

                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="day-19" name="day" type="checkbox" value="19">
                        <label class="govuk-label govuk-checkboxes__label" for="day-19">
                          Tuesday 19 March 2026
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="day-20" name="day" type="checkbox" value="20">
                        <label class="govuk-label govuk-checkboxes__label" for="day-20">
                          Wednesday 20 March 2026
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="day-21" name="day" type="checkbox" value="21">
                        <label class="govuk-label govuk-checkboxes__label" for="day-21">
                          Thursday 21 March 2026
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="day-22" name="day" type="checkbox" value="22">
                        <label class="govuk-label govuk-checkboxes__label" for="day-22">
                          Friday 22 March 2026
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="day-23" name="day" type="checkbox" value="23">
                        <label class="govuk-label govuk-checkboxes__label" for="day-23">
                          Saturday 23 March 2026
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="day-24" name="day" type="checkbox" value="24">
                        <label class="govuk-label govuk-checkboxes__label" for="day-24">
                          Sunday 24 March 2026
                        </label>
                      </div>

                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="day-25" name="day" type="checkbox" value="25">
                        <label class="govuk-label govuk-checkboxes__label" for="25">
                         Monday 25 March 2026
                        </label>
                      </div>

    
                  </div>
               
                </div>
              </fieldset>
            </div>


           

        <nav class="govuk-pagination" role="navigation" aria-label="results">
             <!--  <div class="govuk-pagination__prev">
                <a class="govuk-link govuk-pagination__link" href="" rel="prev">
                  <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="govuk-pagination__link-title">Previous week</span></a>
              </div> -->
        
             
              <div class="govuk-pagination__next">
                  <form class="form"  method="post" action="copy-future">
                <a class="govuk-link govuk-pagination__link" href="copy-future" rel="next"> <span class="govuk-pagination__link-title">Next 2 weeks</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg></a>
                  </form>
              </div>
            </nav>
          

   <form class="form" action="availability-copied" method="post"> 
        <div class="govuk-button-group">
  


   <button class="govuk-button" data-module="govuk-button">Copy</button>

      <a class="govuk-link" href="../availability-added" >Cancel</a>
    
    </div>

    </div>


</div>


    </div>

  </main>
</div>




{% endblock %}